#side-nav {
    width: 180px;
}

#content-area {
    width: calc(100% - 180px)
}

.w-th {
    width: 100px;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-90 {
    width: 90% !important;
}

.ui-datepicker {
    z-index: 1051 !important;
}